/* your CSS goes into this file. For example:

p {
  color: #ff00ff;
  text-decoration: underline;
}

btw, this is a CSS comment. Feel free to delete it.

 */

h1 {
font-weight: 1000;
font-family: "Helvetica", sans-serif;
color: #800000;
text-align: center;
}

h2 {
font-weight: 900;
font-family: "Apple Chancery", sans-serif;
color: #FF0000;
text-align: center;
}

h3 {
font-weight: 800;
font-family: serif;
  color: #FFA500;
  text-align: center;
}

h4 {
font-weight: 700;
font-family: serif;
color: #800080;
text-align: left;
margin: 10px 50px 20px;
}

h5 {
text-align: center;
font-style: oblique;
}

h6 {
text-align: center;
font-weight: 100;
}

ul {
font-family: serif;
text-align: left;
line-height: 1.5em;
list-style-type: circle;
}

p {
font-family: serif;
text-align: left;
text-indent: 10%
margin: 10px 100px 10px 0;
}
